<html>
<body>

---- TEST EMAIL ----<br><br>

Hi {{ name }},<br><br>

This is a reminder to submit your lineup for rvaracingleague.com.<br><br>

League: {{ league }}<br>
Race: {{ race }}<br>
Qualifying Date: test<br>
Race Date: test<br><br><br>

<a href="http://www.rvaracingleague.com" target="_blank">rvaracingleague.com</a>

<br><br>

Thank you race fan!<br><br>

</body>
</html>