<html>
<body>
Hi {{ invite_email }}<br><br>
You have been invited to join {{ leauge_email }}'s fantasy league of the richmond racing league.<br><br>
<a href="{{ register_url }}">Register Here</a>
</body>
</html>