* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a, a:active, a:visited {
    color: #3c5e96;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #e3e9ef;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    min-width: 320px;
}

.dimension-10 {
    width: calc(100% / 12 * 10);
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
}

.container-6 {
    width: calc(100% / 12 * 10);
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}

/* header */

.header-container {
    background: #99aabb;
    height: 60px;
}

.header-info-container {

}

.header-logo {
    display: inline-block;
    width: 60px;
    position: relative;
    line-height: 50px;
    font-size: 30px;
}

.header-user {
    display: inline-block;
    width: auto;
    position: relative;
    float: right;
    margin-right: 1px;
    margin-top: 9px;
}

.header-user .avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    vertical-align: top;
    float: left;
    min-width: 40px;
    text-align: center;
    font-size: 34px;
    line-height: 41px;
    cursor: pointer;
}

.header-user .user {
    position: relative;
    display: inline-block;
    width: auto;
    height: 40px;
    background: #f2f2f2;
    vertical-align: top;
    border-radius: 4px;
    float: right;
    min-width: 110px;
    margin-left: 5px;
    cursor: pointer;
    line-height: 38px;
    text-align: center;
}

.user-dropdown {
    position: absolute;
    top: 41px;
    display: none;
    width: 100%;
    height: auto;
    border: 1px solid #cccccc;
    background: #ffffff;
    padding: 2px 0 2px 0;
    border-radius: 4px;
    cursor: default;
    right: 0;
    min-width: 100px;
    z-index: 100;
}

.user-dropdown ul {
    margin-left: 0;
    list-style-type: none;
    padding-left: 0;
}

.user-dropdown ul li {
    line-height: 30px;
    padding-right: 8px;
    border-bottom: 1px solid #cccccc;
    text-align: right;
}

.user-dropdown ul li:last-child {
    border: 0;
}

.user-dropdown ul li a, .user-dropdown ul li a:active, .user-dropdown ul li a:visited {
    text-decoration: none;
}

.main-menu { display: inline-block; }
.main-menu ul { list-style-type: none; }
.main-menu ul li { display: inline-block; padding: 8px; margin-right: 10px; }
.main-menu ul li i { margin-right: 5px; }
.main-menu ul li a, .main-menu ul li a:visited { color: #ffffff; text-decoration: none; }

.mobile-menu { display: none; margin-top: 5px; position: relative; }
.mobile-menu ul { position: absolute; list-style-type: none; background: #ffffff; width: 140px; z-index: 100; border: 1px solid #cccccc; border-radius: 4px; }
.mobile-menu ul li { padding: 5px; border: 1px solid #f2f2f2; font-size: 18px; line-height: 30px; }
.mobile-menu ul li a, .mobile-menu ul li a:visited { text-decoration: none; }
.mobile-menu .fa-bars { cursor: pointer; }
.mobile-menu-dropdown { display: none; }

.message-container {
    height: 100px;
    background: #f2f2f2;
    width: 100%;
}

.content-container {
    border:1px solid #d7dee5;
    clear: both;
    background: #ffffff;
    min-height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.dashboard-container {
    padding: 20px;
    min-height: 300px;
}

.dashboard-container h2 {
    margin-bottom: 20px;
}

.home-leagues-container {
    width: calc(100% / 12 * 7);
    display: inline-block;
}

.home-info-container {
    width: calc(100% / 12 * 5);
    display: inline-block;
    float: right;
    background: #e6eaef;
    height: 100%;
    min-height: 308px;
    border-left: 1px solid #cbd2db;
}

.leagues-container {
    margin-right: 10px;
    padding: 0px 10px 10px 0;
}

.edit-drivers.edit-enabled {
    color: green;
}

/* invite users */
.invite-league-container {
    margin-top: 30px;
    border-top: 1px solid #cccccc;
    padding-top: 20px;
}
.invited-league {
    border-radius: 4px;
    background: #dce6ef;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    float: left;
    width: 100%;
}
.invited-league .league-info {
    display: inline-block;
    padding-top: 2px;
}
.accept-league {
    width: 120px;
    display: inline-block;
    float: right;
    background: #607399;
    color: #ffffff;
    margin: auto;
    padding: 12px 0 12px 0;
    border-radius: 4px;
    text-align: center;
    height: 45px;
    line-height: 20px;
}
.accept-league:hover {
    background: #7e91b7;
    cursor: pointer;
}
.accept-league i {
    font-size: 28px;
    color: #000;
}
.accept-league.submitting {
    background: #7e91b7;
    padding-top: 10px;
}


/* create league */
.form-title {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}
input[type=text] {
    width: 100%;
    border-radius: 4px;
    outline: none;
    padding: 8px 0 8px 10px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}
button[type=submit] {
    background-color:#7a8091;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    font-weight: 700;
    padding:8px 15px;
    text-decoration:none;
    width: 100%;
    clear: both;
}
button[type=submit]:hover {
    background-color:#878ea3;
}


/* race results */
.dimension-8 {
    width: calc(100% / 12 * 8);
}
.dimension-6 {
    width: calc(100% / 12 * 6);
}
.dimension-4 {
    width: calc(100% / 12 * 4);
}

.race-results-users {
    vertical-align: top;
}

.race-results-container {
    background:#f2f2f2;
    display: inline-block;
    min-width: 250px;
    vertical-align: top;
}

.race-results-drivers {
    display: inline-block;
    min-width: 250px;
}

.results-driver-container {
    float: left;
    clear: left;
    margin-bottom: 1px;
    width: 100%;
    background: #f2f2f2;
}

.results-driver-container .driver-number {
    background: #b8c7d8;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
    display: inline-block;
    width: 32px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
}

.results-driver-container .driver {
    display: inline-block;
    margin: 2px 0 2px 5px
}

.results-driver-container .position {
    float: right;
    display: inline-block;
    line-height: 28px;
    margin-right: 5px;
    text-align: center;
}

.total-result {
    display: inline-block;
    float: right;
    font-weight: 700;
}

.drivers-header-information {
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    font-size: 18px;
    float: left;
    width: 100%;
}
.drivers-header-information .racename {
    width: auto;
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    float: left;
}
.drivers-header-information .racename i {
    margin-right: 10px;
    margin-left: 2px;
}
.drivers-header-information .league {
    width: auto;
    display: inline-block;
    text-align: right;
    float: right;
}
.drivers-header-information .header-link {
    width: auto;
    display: inline-block;
    float: left;
    vertical-align: bottom;
    margin-left: 20px;
    line-height: 27px;
}
.drivers-header-information .header-link.active {
    border-bottom: 2px solid #b8c7d8;
}

.race-results-driver {
    margin-bottom: 1px;
}

.race-results-driver div {
    display: inline-block;
}


/* message block - active race info */
.race-name-info { padding-top: 15px; position: relative; }
.race-name-info .race-name { display: inline-block; font-size: 22px; font-weight: 700; float: left; clear: left; }
.race-name-info .race-info { display: inline-block; margin-left: 30px; float: left; clear: left; }
.race-name-info .race-date { position: absolute; right: 0; top: 20px; width: auto; text-align: right; }
.race-name-info .race-date .race-time { display: block; }

.mobile-driver-info { display: none; float: right; cursor: pointer; }

@media (max-width: 880px) {
    .header-user .user { display: none; }
}

@media (max-width: 750px) {
    .header-logo { width: 50px; }
}

@media (max-width: 710px) {
    .header-logo { width: 40px; }
    .main-menu ul li { margin-right: 0; }
}

@media (max-width: 675px) {
    .main-menu { display: none; }
    .mobile-menu { display: inline-block; }
    .header-logo .fa-home { display: none; }
    .message-container { padding-bottom: 15px; margin-bottom: 30px; float: left; height: auto; min-height: 100px; }
    .race-name-info .race-date { position: relative; top: 0; clear: left; float: left; width: auto; margin-left: 30px; display: inline-block; }
    .race-name-info .race-date .race-time { display: inline-block; padding-left: 8px; }
}


